<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 미션 Mybatis 매퍼
* @author 정은지
* @since 2024.07.26
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.07.26   정은지         최초 생성
* 2024.07.27   정은지         퀴즈 정답 시 포인트 부여 기능 추가
*
* </pre>
-->
<mapper namespace="com.sbsj.dreamwing.mission.mapper.MissionMapper">
    <select id="getQuiz" resultType="QuizVO">
        SELECT QUIZ_ID,
               QUESTION,
               ANSWER,
               CHOICE_1,
               CHOICE_2,
               CHOICE_3,
               CHOICE_4
        FROM   QUIZ
        WHERE  QUIZ_ID = #{quizId}
    </select>

    <insert id="callAwardPointsProcedure" statementType="CALLABLE">
        {CALL PROC_AWARD_POINTS(
                #{userId, jdbcType=NUMERIC},
                #{activityType, jdbcType=NUMERIC},
                #{activityTitle, jdbcType=VARCHAR},
                #{point, jdbcType=NUMERIC}
              )}
    </insert>
</mapper>