<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbsj.dreamwing.volunteer.mapper.VolunteerMapper">


    <select id="getVolunteerList" resultType="com.sbsj.dreamwing.volunteer.dto.VolunteerListDTO">
            SELECT TITLE,
            TYPE,
            CATEGORY,
            VOLUNTEER_START_DATE,
            VOLUNTEER_END_DATE,
            ADDRESS,
            STATUS,
            IMAGE_URL
            FROM   VOLUNTEER <!-- WHERE CATEGORY = #{CATEGORY_ID} -->
</select>

    <select id="getVolunteerDetail" parameterType="long" resultType="com.sbsj.dreamwing.volunteer.dto.VolunteerDetailDTO">
        SELECT title,
               content,
               type,
               category,
               volunteer_start_date,
               volunteer_end_date,
               address,
               total_count,
               status,
               recruit_start_date,
               recruit_end_date,
               image_url
        FROM   volunteer
        WHERE  volunteer_id = # {volunteerId}
    </select>

</mapper>
