<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbsj.dreamwing.volunteer.mapper.VolunteerMapper">
<!--
* 봉사 Mybatis 매퍼
* @author 임재성
* @since 2024.07.26
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.07.26   임재성        최초 생성
* 2024.07.28   임재성        봉사 모집공고 게시판 리스트 & 상세 페이지 조회 기능 추가
* 2024.07.31   임재성        봉사 & 멘토링 리스트 페이징 처리 기능 추가
* 2024.08.03   정은지        봉사활동 인증 기능 추가
* 2024.08.03   임재성        봉사활동 신청 상태 확인 기능 추가
* 2024.08.04   임재성        봉사활동 필터 기능 추가
* 2024.08.06   임재성        봉사활동 신청 승인 상태 확인 기능 추가
*
* </pre>
-->
    <!-- 봉사활동 리스트 조회 -->
    <select id="getVolunteerListWithFilters" parameterType="map" resultType="com.sbsj.dreamwing.volunteer.dto.VolunteerListDTO">
        SELECT VOLUNTEER_ID,
        TITLE,
        TYPE,
        CATEGORY,
        VOLUNTEER_START_DATE,
        VOLUNTEER_END_DATE,
        ADDRESS,
        STATUS,
        IMAGE_URL
        FROM VOLUNTEER
        WHERE STATUS = #{status}
        <if test="type != null">
            AND TYPE = #{type}
        </if>
        ORDER BY VOLUNTEER_START_DATE DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>



    <!-- 봉사 상세 조회 -->
    <select id="getVolunteerDetail" parameterType="long" resultType="com.sbsj.dreamwing.volunteer.dto.VolunteerDetailDTO">
        SELECT VOLUNTEER_ID,
               TITLE,
               CONTENT,
               TYPE,
               CATEGORY,
               VOLUNTEER_START_DATE,
               VOLUNTEER_END_DATE,
               ADDRESS,
               TOTAL_COUNT,
               STATUS,
               RECRUIT_START_DATE,
               RECRUIT_END_DATE,
               IMAGE_URL,
               LATITUDE,
               LONGITUDE,
               (SELECT COUNT(*)
                FROM USER_VOLUNTEER
                WHERE VOLUNTEER_ID = #{volunteerId}) AS CURRENT_APPLICANT_COUNT

        FROM VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId}
    </select>


    <!-- 봉사 신청 -->
    <insert id="insertVolunteerApplication" parameterType="com.sbsj.dreamwing.volunteer.dto.PostApplyVolunteerRequestDTO">
        INSERT INTO USER_VOLUNTEER (VOLUNTEER_ID, USER_ID,  STATUS, VERIFIED)
        VALUES (#{volunteerId},#{userId},  DEFAULT, DEFAULT)
    </insert>

    <!-- 봉사 신청 취소 -->
    <delete id="deleteApplication" parameterType="com.sbsj.dreamwing.volunteer.dto.PostApplyVolunteerRequestDTO">
        DELETE FROM USER_VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId} AND USER_ID = #{userId}
    </delete>


    <!-- 봉사 신청 여부 확인 -->
    <select id="existsByVolunteerIdAndUserId" resultType="boolean">
        SELECT COUNT(*)
        FROM USER_VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId} AND USER_ID = #{userId}
    </select>
    <!-- 봉사 신청 여부 확인 -->
    <select id="checkIfAlreadyApplied" parameterType="com.sbsj.dreamwing.volunteer.dto.PostApplyVolunteerRequestDTO" resultType="int">
        SELECT COUNT(*)
        FROM USER_VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId} AND USER_ID = #{userId}
    </select>

    <!-- 봉사 신청 여부 확인 -->
    <select id="checkIfApplicationExists" parameterType="com.sbsj.dreamwing.volunteer.dto.PostApplyVolunteerRequestDTO" resultType="int">
        SELECT COUNT(*)
        FROM USER_VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId} AND USER_ID = #{userId}
    </select>

    <!-- 봉사활동 인증 -->
    <update id="updateImageUserVolunteer" parameterType="CertificationVolunteerRequestDTO">
        UPDATE USER_VOLUNTEER
        SET IMAGE_URL = #{imageUrl}
        where VOLUNTEER_ID = #{volunteerId} and user_id = #{userId}
    </update>
    <!-- 봉사활동 신청 승인 상태 확인 -->
    <select id="getApplicationStatus" parameterType="map" resultType="int">
        SELECT STATUS
        FROM USER_VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId} AND USER_ID = #{userId}
    </select>

</mapper>
