<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sbsj.dreamwing.volunteer.mapper.VolunteerMapper">


    <select id="getVolunteerList" resultType="com.sbsj.dreamwing.volunteer.dto.VolunteerListDTO">
            SELECT TITLE,
            TYPE,
            CATEGORY,
            VOLUNTEER_START_DATE,
            VOLUNTEER_END_DATE,
            ADDRESS,
            STATUS,
            IMAGE_URL
            FROM   VOLUNTEER <!-- WHERE CATEGORY = #{CATEGORY_ID} -->
</select>

    <!-- 봉사 상세 조회 -->
    <select id="getVolunteerDetail" parameterType="long" resultType="com.sbsj.dreamwing.volunteer.dto.VolunteerDetailDTO">
        SELECT TITLE,
               CONTENT,
               TYPE,
               CATEGORY,
               VOLUNTEER_START_DATE,
               VOLUNTEER_END_DATE,
               ADDRESS,
               TOTAL_COUNT,
               STATUS,
               RECRUIT_START_DATE,
               RECRUIT_END_DATE,
               IMAGE_URL,
               (SELECT COUNT(*)
                FROM USER_VOLUNTEER
                WHERE VOLUNTEER_ID = #{volunteerId}) AS CURRENT_APPLICANT_COUNT
        FROM VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId}
    </select>


    <!-- 봉사 신청하기 -->
    <insert id="insertVolunteerApplication" parameterType="com.sbsj.dreamwing.volunteer.dto.PostApplyVolunteerRequestDTO">
        INSERT INTO USER_VOLUNTEER (VOLUNTEER_ID, USER_ID,  STATUS, VERIFIED)
        VALUES (#{volunteerId},#{userId},  DEFAULT, DEFAULT)
    </insert>

    <!-- 이미 신청했는지 체크 -->
    <select id="checkIfAlreadyApplied" parameterType="com.sbsj.dreamwing.volunteer.dto.PostApplyVolunteerRequestDTO" resultType="int">
        SELECT COUNT(*)
        FROM USER_VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId} AND USER_ID = #{userId}
    </select>

    <!-- 봉사 신청 취소 -->
    <delete id="deleteVolunteerApplication" parameterType="com.sbsj.dreamwing.volunteer.dto.PostApplyVolunteerRequestDTO">
        DELETE FROM USER_VOLUNTEER
        WHERE VOLUNTEER_ID = #{volunteerId} AND USER_ID = #{userId}
    </delete>



</mapper>
