<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 사용자 Mybatis 매퍼
* @author 정은찬
* @since 2024.07.28
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.07.28   정은찬          최초 생성
* 2024.07.29   정은찬          checkLoginIdExistence SQL문 작성
* 2024.07.30   정은찬          findUserByLoginId SQL문 작성
*
* </pre>
-->
<mapper namespace="com.sbsj.dreamwing.user.mapper.UserMapper">
    <!--  사용자 정보를 삽입하는 쿼리  -->
    <insert id="insertUser" parameterType="UserVO">
        INSERT INTO USER_INFO
        (USER_ID,
         LOGIN_ID,
         PASSWORD,
         NAME,
         PHONE,
         TOTAL_POINT,
         WITHDRAW,
         PROFILE_IMAGE_URL,
         CREATED_DATE)
        VALUES      (SEQ_USER_INFO.nextval,
                     #{loginId},
                     #{password},
                     #{name},
                     #{phone},
                     0,
                     0,
                     #{profileImageUrl},
                     #{createdDate})
    </insert>

    <select id="checkLoginIdExistence" parameterType="String" resultType="String">
        SELECT LOGIN_ID
        FROM USER_INFO
        WHERE LOGIN_ID = '${value}'
    </select>

    <select id="selectUserByLoginId" resultType="UserDTO">
        SELECT USER_ID,
               LOGIN_ID,
               PASSWORD,
               WITHDRAW
        FROM   USER_INFO
        WHERE  LOGIN_ID = #{loginId}
    </select>

    <update id="withdraw" parameterType="Long">
        UPDATE USER_INFO
        SET NAME = '탈퇴회원',
            PHONE = '00000000000',
            TOTAL_POINT = 0,
            WITHDRAW = 1,
            PROFILE_IMAGE_URL = 'DEFAULT URL'
        WHERE USER_ID = #{userId}
    </update>

    <select id="selectUserByUserId" resultType="UserDTO">
        SELECT USER_ID,
               LOGIN_ID,
               PASSWORD,
               NAME,
               PHONE,
               TOTAL_POINT,
               PROFILE_IMAGE_URL,
               CREATED_DATE
        FROM   USER_INFO
        WHERE  USER_ID = #{userId}
    </select>

    <update id="updateUserInfo" parameterType="UserVO">
        UPDATE USER_INFO
        SET PASSWORD = #{password},
            NAME = #{name},
            PHONE = #{phone},
            PROFILE_IMAGE_URL=#{profileImageUrl}
        WHERE USER_ID = #{userId}
    </update>

    <select id="getUserPointVOList" resultType="UserPointVO">
        SELECT ACTIVITY_TITLE,
               POINT,
               TO_CHAR(CREATED_DATE AT TIME ZONE 'UTC', 'YYYY-MM-DD HH24:MI:SS') AS CREATED_DATE
        FROM POINT_HISTORY
        WHERE USER_ID = #{userId}
    </select>

    <select id="getUserSupportVOList" resultType="UserSupportVO">
        SELECT S.TITLE,
               S_HIST.POINT,
               TO_CHAR(S_HIST.CREATED_DATE AT TIME ZONE 'UTC', 'YYYY-MM-DD HH24:MI:SS') AS CREATED_DATE
        FROM SUPPORT S, SUPPORT_HISTORY S_HIST
        WHERE S.SUPPORT_ID = S_HIST.SUPPORT_ID AND S_HIST.USER_ID = #{userId}
    </select>

    <select id="selectTotalSupportPoint">
        SELECT SUM(POINT)        AS TOTAL_SUPPORT_POINT
        FROM   SUPPORT_HISTORY
        WHERE USER_ID = #{userId}
    </select>

    <select id="getUserVolunteerVOList" resultType="MyVolunteerVO">
        SELECT V.TITLE, V.VOLUNTEER_END_DATE, U_V.VERIFIED
        FROM VOLUNTEER V, USER_VOLUNTEER U_V
        WHERE V.volunteer_id = U_V.volunteer_id
              AND U_V.user_id = #{userId}
              AND U_V.status = 1

    </select>
</mapper>