<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
* 후원 Mybatis 매퍼
* @author 정은지
* @since 2024.07.28
* @version 1.0
*
* <pre>
* 수정일        	수정자        수정내용
* ==========  =========    =========
* 2024.07.28   정은지         최초 생성
* 2024.07.28   정은지         후원 총 횟수,금액 조회/후원 리스트 조회 추가
* 2024.07.28   임재성         모든 후원 리스트 조회 테스트 추가
* 2024.07.29   임재성         후원 하기 요청 기능 추가
* </pre>
-->
<mapper namespace="com.sbsj.dreamwing.support.mapper.SupportMapper">

    <!-- 후원 총 횟수, 금액 조회 -->
    <select id="selectTotalSupport" resultType="GetTotalSupportResponseDTO">
        SELECT COUNT(HISTORY_ID) AS TOTALCOUNT,
               SUM(POINT)        AS TOTALPOINTS
        FROM   SUPPORT_HISTORY
    </select>

    <!-- 후원 리스트 조회 -->
    <select id="selectSupportList" resultType="GetSupportListResponseDTO">
        SELECT SUPPORT_ID,
               GOAL_POINT,
               CURRENT_POINT,
               TITLE,
               END_DATE,
               IMAGE_URL,
               SYSDATE+9/24 - END_DATE AS DDAY
        FROM SUPPORT
        ORDER BY DDAY DESC
        FETCH FIRST 5 ROWS ONLY
    </select>

    <select id="selectSupportListWithFilters" resultType="GetSupportListResponseDTO">
        SELECT SUPPORT_ID,
               GOAL_POINT,
               CURRENT_POINT,
               TITLE,
               END_DATE,
               IMAGE_URL,
               SYSDATE + 9/24 - END_DATE AS DDAY
        FROM SUPPORT
        WHERE STATUS = #{status}
          AND CATEGORY = #{category}
        ORDER BY DDAY DESC
        OFFSET #{offset} ROWS FETCH NEXT #{size} ROWS ONLY
    </select>

    <!-- 사용자 포인트 가져오기 -->
    <select id="getUserPoints" parameterType="long" resultType="int">
        SELECT TOTAL_POINT
        FROM   USER_INFO
        WHERE  USER_ID = #{userId}
    </select>

    <!-- 사용자 포인트 업데이트 -->
    <update id="updateUserPoints">
        UPDATE USER_INFO
        SET    TOTAL_POINT = TOTAL_POINT - #{newPoints}
        WHERE  USER_ID = #{userId}
    </update>

    <select id="getSupportPoints" resultType="int" parameterType="long">
        SELECT CURRENT_POINT
        FROM   SUPPORT
        WHERE  SUPPORT_ID = #{supportId}
    </select>

    <!-- 지원 항목 포인트 업데이트 -->
    <update id="updateSupportPoints">
        UPDATE SUPPORT
        SET    CURRENT_POINT = CURRENT_POINT + #{pointsToAdd}
        WHERE  SUPPORT_ID = #{supportId}
    </update>
    <insert id ="insertSupportHistory">
        INSERT INTO SUPPORT_HISTORY(
                HISTORY_ID,
                USER_ID,
                SUPPORT_ID,
                POINT,
                CREATED_DATE)
            VALUES (SEQ_SUPPORT_HISTORY.NEXTVAL,
                #{userId},
                #{supportId},
                #{pointsToAdd},
                SYSTIMESTAMP)
    </insert>
    <insert id ="insertPointHistory">
        INSERT INTO POINT_HISTORY(
                POINT_ID,
                USER_ID,
                ACTIVITY_TYPE,
                ACTIVITY_TITLE,
                POINT,
                CREATED_DATE)
        VALUES(SEQ_POINT_HISTORY.NEXTVAL,
               #{userId},
               #{type},
               #{title},
               #{pointsToAdd},
                SYSTIMESTAMP)
    </insert>


    <select id="selectSupportDetail" resultType="GetDetailSupportResponseDTO">
        SELECT SUPPORT_ID,
               GOAL_POINT,
               CURRENT_POINT,
               TITLE,
               CONTENT,
               START_DATE,
               END_DATE,
               IMAGE_URL
        FROM SUPPORT
        WHERE SUPPORT_ID = #{supportId}
    </select>

</mapper>